In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from warnings import simplefilter

simplefilter('ignore')

In [5]:
data = pd.read_csv('Highest Holywood Grossing Movies.csv')

In [6]:
data=data.drop(index = list(range(data.shape[0] // 16, data.shape[0])))

In [7]:
data.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  57 non-null     int64
 1   Title                       57 non-null     object
 2   Movie Info                  57 non-null     object
 3   Distributor                 57 non-null     object
 4   Release Date                51 non-null     object
 5   Domestic Sales (in $)       57 non-null     int64
 6   International Sales (in $)  57 non-null     int64
 7   World Sales (in $)          57 non-null     int64
 8   Genre                       57 non-null     object
 9   Movie Runtime               57 non-null     object
 10  License                     49 non-null     object
dtypes: int64(4), object(7)
memory usage: 5.0+ KB

In [9]:
category_cols = ['Title','Movie Info', 'Distributor', 'Release Date', 'Domestic Sales (in $)','International Sales (in $)','World Sales (in $)','Genre', 'Movie Runtime', 'License']

print('Количество уникальных значений\n')
for col in category_cols:
    print(f'{col}: {data[col].unique().size}')

Количество уникальных значений

Title: 57
Movie Info: 57
Distributor: 11
Release Date: 51
Domestic Sales (in $): 57
International Sales (in $): 57
World Sales (in $): 57
Genre: 29
Movie Runtime: 42
License: 5

In [12]:
remove_cols = ['Unnamed: 0']

In [13]:
for col in remove_cols:
    category_cols.remove(col)
data = pd.get_dummies(data, columns=category_cols)

ValueError: list.remove(x): x not in list

In [14]:
data.drop(remove_cols, axis=1, inplace=True)
data.describe()

       Domestic Sales (in $)  International Sales (in $)  World Sales (in $)
count           5.700000e+01                5.700000e+01        5.700000e+01
mean            4.734256e+08                7.159230e+08        1.192370e+09
std             1.318122e+08                3.686312e+08        4.622780e+08
min             3.501264e+08                1.957520e+08        5.474264e+08
25%             3.814093e+08                4.881200e+08        8.754586e+08
50%             4.227838e+08                6.393566e+08        1.066971e+09
75%             5.152025e+08                8.686427e+08        1.332699e+09
max             9.366622e+08                2.086739e+09        2.847246e+09

In [15]:

y = data['Average_Score']
X = data.drop('Average_Score', axis=1)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

KeyError: 'Average_Score'

In [61]:
scaler = MinMaxScaler().fit(x_train)
x_train = pd.DataFrame(scaler.transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_train.columns)
x_train.describe()

,Additional_Number_of_Scoring,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng,Hotel_Address_ s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,Hotel_Address_1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom,...,days_since_review_88 days,days_since_review_90 days,days_since_review_91 days,days_since_review_92 days,days_since_review_93 days,days_since_review_94 days,days_since_review_95 days,days_since_review_97 days,days_since_review_98 days,days_since_review_99 days
count,1409.000000,1409.000000,1409.000000,1409.000000,1409.000000,1409.000000,1409.000000,1409.000000,1409.000000,1409.000000,...,1409.000000,1409.000000,1409.000000,1409.0,1409.000000,1409.0,1409.000000,1409.000000,1409.000000,1409.000000
mean,0.287270,0.044539,0.256482,0.114304,0.074270,0.843066,0.205473,0.201097,0.192335,0.285309,...,0.000710,0.000710,0.001419,0.0,0.000710,0.0,0.000710,0.001419,0.001419,0.001419
std,0.244230,0.078297,0.173908,0.122850,0.125505,0.188319,0.388012,0.390065,0.394275,0.451722,...,0.026641,0.026641,0.037662,0.0,0.026641,0.0,0.026641,0.037662,0.037662,0.037662
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.057870,0.000000,0.143769,0.037634,0.000000,0.773333,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,0.515046,0.017632,0.408465,0.075269,0.024390,0.893333,0.025148,0.016870,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,0.515046,0.052897,0.408465,0.145161,0.085366,1.000000,0.025148,0.016870,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [62]:
def print_metrics(y_test, y_pred):
    print(f"R^2: {r2_score(y_test, y_pred)}")
    print(f"MSE: {mean_squared_error(y_test, y_pred)}")
    print(f"MAE: {mean_absolute_error(y_test, y_pred)}")
    
def print_cv_result(cv_model, x_test, y_test):
    print(f'Оптимизация метрики {cv_model.scoring}: {cv_model.best_score_}')
    print(f'Лучший параметр: {cv_model.best_params_}')
    print('Метрики на тестовом наборе')
    print_metrics(y_test, cv_model.predict(x_test))
    print()

In [63]:
base_k = 6
base_knn = KNeighborsRegressor(n_neighbors=base_k)
base_knn.fit(x_train, y_train)
y_pred_base = base_knn.predict(x_test)
print(f'Test metrics for KNN with k={base_k}\n')
print_metrics(y_test, y_pred_base)

Test metrics for KNN with k=6

R^2: 0.9999183374131726
MSE: 2.9384756657483724e-05
MAE: 0.00022038567493202715

In [64]:
metrics = ['r2', 'neg_mean_squared_error', 'neg_mean_absolute_error']
cv_values = [5, 10]

for cv in cv_values:
    print(f'Результаты кросс-валидации при cv={cv}\n')
    for metric in metrics:    
        params = {'n_neighbors': range(1, 30)}
        knn_cv = GridSearchCV(KNeighborsRegressor(), params, cv=cv, scoring=metric, n_jobs=-1)
        knn_cv.fit(x_train, y_train)
        print_cv_result(knn_cv, x_test, y_test)

Результаты кросс-валидации при cv=5

Оптимизация метрики r2: 1.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Оптимизация метрики neg_mean_squared_error: 0.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Оптимизация метрики neg_mean_absolute_error: 0.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Результаты кросс-валидации при cv=10

Оптимизация метрики r2: 1.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Оптимизация метрики neg_mean_squared_error: 0.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Оптимизация метрики neg_mean_absolute_error: 0.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

In [65]:
metrics = ['r2', 'neg_mean_squared_error', 'neg_mean_absolute_error']

print('Результаты кросс-валидации\n')
for metric in metrics:
    params = {'n_neighbors': range(1, 30)}
    knn_cv = GridSearchCV(KNeighborsRegressor(), params, cv=5, scoring=metric, n_jobs=-1)
    knn_cv.fit(x_train, y_train)
    print_cv_result(knn_cv, x_test, y_test)

Результаты кросс-валидации

Оптимизация метрики r2: 1.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Оптимизация метрики neg_mean_squared_error: 0.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

Оптимизация метрики neg_mean_absolute_error: 0.0
Лучший параметр: {'n_neighbors': 1}
Метрики на тестовом наборе
R^2: 1.0
MSE: 0.0
MAE: 0.0

In [66]:
best_k = 2
y_pred_best = KNeighborsRegressor(n_neighbors=best_k).fit(x_train, y_train).predict(x_test)

In [67]:
print('Basic model\n')
print_metrics(y_test, y_pred_base)
print('_______________________')
print('\nOptimal model\n')
print_metrics(y_test, y_pred_best)

Basic model

R^2: 0.9999183374131726
MSE: 2.9384756657483724e-05
MAE: 0.00022038567493202715
_______________________

Optimal model

R^2: 1.0
MSE: 0.0
MAE: 0.0